.facet-page {
    .filters-summary {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .page-size-select select {
        width: auto;
        min-width: 6rem;
    }

    table {

        th,
        td {
            vertical-align: middle;
        }
    }

    .btn-outline-success {
        white-space: nowrap;
    }

    @media (max-width: 991.98px) {
        .page-size-select {
            width: 100%;

            select {
                width: 100%;
            }
        }
    }
}