<footer class="bg-dark text-light py-5 mt-auto">
    <div class="container-xxl">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-4">
                <div class="d-flex align-items-center gap-3">
                    <span class="rounded-circle bg-success text-white d-flex align-items-center justify-content-center"
                        style="width: 48px; height: 48px;">
                        <i class="bi bi-book-half fs-4"></i>
                    </span>
                    <div>
                        <h5 class="mb-0 fw-bold">KeJOL</h5>
                        <small class="text-white-50">Connecting scholars, publications & institutions.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <ul class="list-inline mb-0 text-center text-lg-start">
                    <li class="list-inline-item mx-2">
                        <a routerLink="/about" class="link-light text-decoration-none">About</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a routerLink="/contact" class="link-light text-decoration-none">Contact</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a routerLink="/privacy" class="link-light text-decoration-none">Privacy</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 text-lg-end text-center">
                <small class="text-white-50">&copy; {{ year }} KLISC. All rights reserved.</small>
            </div>
        </div>
    </div>
</footer>