.harvest-log-list {
    .table {

        th,
        td {
            vertical-align: middle;
        }

        td {
            word-break: break-word;
        }
    }

    .badge {
        font-size: 0.75rem;
    }
}